<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()">
      <input type="text" class="fadeIn second" name="fiscal_number" placeholder="Fiscal Number">
      <input type="submit" class="fadeIn fourth" value="Enregistrer">
    </form>

  </div>
</div>

<div class="container">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th>Numero Fiscal bloqué</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fisc of fiscals">
        <td>{{ fisc.fiscal_number }}</td>
      </tr>
    </tbody>
  </table>
</div>
